html {
  font-size: 62.5%;
}

body {
  font-family: 'Fira Sans', sans-serif;
  color: #8d8d8d;
  font-size: 1.8rem;
}

button {
  display: block;
  background: transparent;
  border: none;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.be-static {
  position: static;
}

.vh-dependent {
  height: 35vh;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 700;
  color: #151515;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 2.2rem;
}

.btn {
  background: #4737ff;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 1em 1.8em;
  display: inline;
  border-radius: 0;
  letter-spacing: 0.3em;
  text-align: center;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #3726f2;
  color: #ffffff;
}

.header {
  height: 95vh;
}

.nav {
  padding-top: 6rem;
  margin-bottom: 12.7rem;
}

.logo {
}

.search {
}

.menu {
}

.offer-content__title {
  font-size: 6rem;
  letter-spacing: -0.01em;
  line-height: 1.2em;
}

.offer-content__text {
  margin: 30px 0 56px;
  max-width: 85%;
}

.offer-content__btn {
}

.hero {
  background: url('../img/img1.jpg') no-repeat right top;
  background-size: 80% 100%;
  width: 55%;
  height: 80vh;
  position: absolute;
  right: 0;
  top: 142px;
}

.video {
  position: absolute;
  left: 0;
  bottom: 30%;
  width: 40%;
  height: 33%;
  display: block;
  background: url('../img/video.jpg') no-repeat center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video::after {
  content: '';
  display: block;
  background: url('../img/play.svg');
  width: 65px;
  height: 65px;
}

.problems {
  padding-top: 13.7rem;
}

.poster {
  display: block;
  width: 100%;
  height: auto;
}

.about {
}

.about__title {
  margin-bottom: 30px;
}

.about__text {
}

.about__author {
  margin-top: 61px;
}

.author {
  display: flex;
  align-items: center;
}

.author__photo {
  background: url('../img/author.jpg') no-repeat center left;
  height: 65px;
  width: 65px;
  margin-right: 30px;
}

.author__about {
}

.author__about--name {
  font-size: 2.2rem;
}

.author__about--position {
  margin-bottom: 0;
}

.services {
  padding-top: 14rem;
}

.section-title {
}

.section-title__label {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.25em;
  color: #8f8f8f;
  font-weight: 500;
  margin-bottom: 40px;
}

.section-title__heading {
}

.services-list {
  color: #8d8d8d;
  margin-top: 67px;
}

.services-list--left {
  margin-left: 37px;
}

.services-list__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.services-carousel {
  margin-top: 99px;
}

.services-carousel .item,
.services-carousel .owl-item {
  position: relative;
}

.services-carousel .owl-nav {
  margin-top: 50px !important;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: left;
}

.owl-theme .owl-nav [class*='owl-'] {
  margin: 0;
}

.owl-prev {
  margin-right: 25px !important;
}

.owl-carousel__play {
  display: block;
  background: url('../img/play.svg');
  width: 65px;
  height: 65px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.result {
  padding-top: 22rem;
}

.collage {
  width: 50%;
  height: 540px;
  background: url('../img/img6.jpg') no-repeat left top / 80% 80%;
  position: absolute;
  left: 0;
}

.collage img {
  display: block;
  width: 350px;
  height: 453px;
  position: absolute;
  right: 0;
  bottom: 0;
  box-shadow: 30px 80px 180px rgba(0, 0, 0, 0.25);
}

.easy {
  margin-left: 65px;
  margin-top: 30px;
}

.easy__title {
  margin-bottom: 30px;
}

.easy__text {
  margin-bottom: 52px;
}

.easy__point {
  padding-left: 83px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #000;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.easy__point--first {
  background: url('../img/icon100.svg') no-repeat left center;
}

.easy__point--second {
  background: url('../img/bag.svg') no-repeat left center;
}

.works {
  padding-top: 28.3rem;
}

.work-tabs {
  margin-left: 60px;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-top: 75px;
}

.work-tabs__item {
  text-decoration: none;
  color: #8d8d8d;
  transition: all 0.5s ease;
  cursor: pointer;
}

.work-tabs__item.active {
  color: #1434e1;
}

.works-wrap {
  margin-top: 108px;
}

.works-wrap__item {
  margin-bottom: 30px;
  position: relative;
  width: calc(34% - 2rem);
}

.works-wrap__item:not(:nth-of-type(1)):not(:nth-of-type(4)) {
  margin-left: 1rem;
}

.works-wrap__item img {
  display: block;
  transition: all 0.5s ease;
}

.works-wrap__item:hover img {
  box-shadow: -30px 80px 200px rgba(0, 0, 0, 0.25);
  transform: translateY(-20px);
}

.works-wrap__item::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  visibility: hidden;
  display: block;
  opacity: 0;
  background: url('../img/play.svg');
  width: 65px;
  height: 65px;
  transition: all 0.5s ease;
}

.works-wrap__item:hover::after {
  top: 45%;
  visibility: visible;
  opacity: 1;
}

.js--tabs__content {
  display: none !important;
}

.js--tabs__content.active {
  display: flex !important;
}

.works__text {
  margin-bottom: 52px;
}

.works__btn {
}

.testimonials {
  padding-top: 248px;
}

.testimonials__testimonial {
  padding-top: 73px;
}

.contributor {
  padding-top: 121px;
}

.contributor__title {
  margin-bottom: 13px;
}

.contributor__position {
}

.contributor__photo {
  display: block;
}

.contributor-carousel .owl-nav {
  margin-top: -50px !important;
  position: relative;
  overflow: hidden;
}

.clients {
  padding-top: 278px;
}

.clinets__text {
  font-size: 1.8rem;
  font-weight: 400;
}

.clients__text--bold {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.25em;
  color: #222222;
  margin-bottom: 17px;
}

.clients-row {
  padding-top: 82px;
}

.footer {
  background-color: #515151;
  margin-top: 140px;
  height: 240px;
}

.footer img {
  display: block;
}

@media only screen and (max-width: 991.98px) {
  html {
    font-size: 56.25%;
  }

  h2 {
    font-size: 3.4rem;
  }

  h3 {
    font-size: 2rem;
  }

  .problems,
  .services,
  .testimonials,
  .result,
  .clients {
    padding-top: 10rem;
  }

  .easy {
    margin-left: 0;
    margin-top: 30px;
  }

  .services-list--left {
    margin-left: 0;
  }

  .services-carousel {
    margin-top: 5rem;
  }

  .services-carousel .owl-nav {
    margin-top: 2rem !important;
    text-align: center;
  }

  .easy__point {
    margin-bottom: 1rem;
  }

  .works {
    padding-top: 20rem;
  }

  .work-tabs {
    letter-spacing: 0;
  }

  .works-wrap {
    margin-top: 5rem;
  }

  .works-wrap__item {
    width: calc(50% - 1rem);
  }

  .works-wrap__item:not(:nth-of-type(1)):not(:nth-of-type(4)) {
    margin-left: 0;
  }

  .works-wrap__item:not(:nth-of-type(1)):not(:nth-of-type(3)):not(:nth-of-type(5)) {
    margin-left: 2rem;
  }

  .testimonials__testimonial {
    padding-top: 3rem;
  }

  .contributor {
    padding-top: 6rem;
  }

  .contributor-carousel .owl-nav {
    margin-top: 2rem !important;
    text-align: center;
  }
}

@media only screen and (max-width: 767.98px) {
  html {
    font-size: 62.5%;
  }

  .vh-dependent {
    height: auto;
    display: block;
  }

  .nav {
    margin-bottom: 6rem;
  }

  .offer-content {
    text-align: center;
  }

  .offer-content__text {
    margin-bottom: 4rem;
    max-width: 100%;
  }

  .hero {
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    background-size: 80% 100%;
    margin-bottom: 6rem;
  }

  .video {
    width: 50%;
    height: 50%;
    bottom: 25%;
  }

  .problems {
    margin-top: 20rem;
  }

  .services,
  .testimonials,
  .result,
  .clients {
    padding-top: 12rem;
  }

  .collage {
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    background-size: 80% 100%;
    margin-top: 3rem;
    margin-bottom: 0;
  }

  .collage img {
    width: 60%;
    height: auto;
    position: absolute;
    right: 0;
    top: 10rem;
    box-shadow: 30px 80px 180px rgba(0, 0, 0, 0.25);
  }

  .easy__text {
    margin: 3rem 0;
  }

  .works {
    padding-top: 30rem;
  }

  .work-tabs {
    font-size: 1.8rem;
    margin-top: 5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .works__text {
    margin-bottom: 2rem;
  }

  .footer {
    margin-top: 12rem;
  }
}

@media only screen and (max-width: 575.98px) {
  .nav {
    padding-top: 3rem;
  }

  .hero {
    margin-top: 6rem;
  }

  .collage img {
    width: 50%;
    height: auto;
  }

  .works {
    padding-top: 20rem;
  }

  .works-wrap__item {
    width: 100%;
  }

  .works-wrap__item img {
    margin-left: auto;
    margin-right: auto;
  }

  .works-wrap__item:not(:nth-of-type(1)):not(:nth-of-type(4)) {
    margin-left: 0;
  }

  .works-wrap__item:not(:nth-of-type(1)):not(:nth-of-type(3)):not(:nth-of-type(5)) {
    margin-left: 0;
  }

  .clients-row__item {
    margin: 3rem;
  }
}

@media only screen and (max-width: 320px) {
  .problems {
    margin-top: 40rem;
    padding-top: 26rem;
  }
}
