body {
  font-family: 'Fira Sans', sans-serif;
  color: #8d8d8d;
  font-size: 18px;
}

button {
  display: block;
  background: transparent;
  border: none;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.be-static {
  position: static;
}

.vh-dependent {
  height: 35vh;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 700;
  color: #151515;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 38px;
}

.btn {
  background: #4737ff;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  padding: 13px 26px;
  display: inline;
  border-radius: 0;
  letter-spacing: 0.3em;
  text-align: center;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #3726f2;
  color: #ffffff;
}

.header {
  height: 95vh;
}

.nav {
  padding-top: 59px;
  margin-bottom: 127px;
}

.logo {
}

.search {
}

.menu {
}

.offer-content__title {
  font-size: 60px;
  letter-spacing: -0.01em;
  line-height: 1.2em;
}

.offer-content__text {
  margin: 30px 0 56px;
}

.offer-content__btn {
}

.hero {
  background: url('../img/img1.jpg') no-repeat right top;
  background-size: 80% 100%;
  width: 55%;
  height: 80vh;
  position: absolute;
  right: 0;
  top: 142px;
}

.video {
  position: absolute;
  left: 0;
  bottom: 30%;
  width: 40%;
  height: 33%;
  display: block;
  background: url('../img/video.jpg') no-repeat center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video::after {
  content: '';
  display: block;
  background: url('../img/play.svg');
  width: 65px;
  height: 65px;
}

.problems {
  padding-top: 137px;
}

.about {
}

.about__title {
  margin-bottom: 30px;
}

.about__text {
}

.about__author {
  margin-top: 61px;
}

.author {
  display: flex;
  align-items: center;
}

.author__photo {
  background: url('../img/author.jpg') no-repeat center left;
  height: 65px;
  width: 65px;
  margin-right: 30px;
}

.author__about {
}

.author__about--name {
  font-size: 22px;
}

.author__about--position {
  margin-bottom: 0;
}

.services {
  padding-top: 142px;
}

.section-title {
}

.section-title__label {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.25em;
  color: #8f8f8f;
  font-weight: 500;
  margin-bottom: 40px;
}

.section-title__heading {
}

.services-list {
  color: #8d8d8d;
  margin-top: 67px;
}

.services-list--left {
  margin-left: 37px;
}

.services-list__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.owl-carousel {
  margin-top: 99px;
}

.owl-carousel .item,
.owl-item {
  width: 825px !important;
  position: relative;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: left;
}

.owl-theme .owl-nav [class*='owl-'] {
  margin: 0;
}

.owl-nav {
  margin-top: 50px !important;
}

.owl-prev {
  margin-right: 25px !important;
}

.owl-carousel__play {
  display: block;
  background: url('../img/play.svg');
  width: 65px;
  height: 65px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
